
@{
    ViewData["Title"] = "LogOut";
}

<h1>LogOut</h1>

<div class="form-group mt-4">
    <form method="post" asp-action="SaveLogOut">
        <input type="submit" value="Save" class="btn btn-primary" style="margin-left : 20px" />
        <a asp-controller="Home" asp-action="Index" class="btn btn-light">Back to Home</a>

    </form>
</div>

