@model CityPhotosViewModel


@{
    ViewData["Title"] = "Delete";
}


<div class="m-auto w-75 bg-white p-5">
    <h1>Delete City Photo</h1>

<hr />

<form asp-action="Delete" method="post">
    <div asp-validation-summary="ModelOnly"></div>

        <partial name="PartialViews/DeleteDetialsView" />
       
       
        <input type="hidden" asp-for="CityId" />

        <input type="hidden" asp-for="Photo" />

    <div class="form-group mt-4 p-5">
        <input type="submit" value="Delete" class="btn btn-danger " />
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </div>
</form>

</div>
@*@section validation{
    <partial name="_ValidationScriptsPartial" />
   
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}*@