@model Place_TripModel
@{
    ViewData["Title"] = "Create";
}


<div class="m-auto w-75">
    <h1>Create New Trip</h1>

    <hr />

    <form asp-action="Create" method="post">


        <partial name="PartialViews/CreateEditView" />

        <div class="form-group mt-4">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light">Back to List</a>
        </div>
    </form>

</div>

