@model Place_Trip
@{
    ViewData["Title"] = "Details";
}
<div class="card text-dark bg-light mb-3" style="width:100% ; height: 100%">
    <div class="card-header" style="font-size:x-large ; font-family:Arial ; font-style:italic ; font-weight:bold ; color :darkblue">Details Card</div>
    <div>

        <partial name="PartialViews/DetailsDeleteView" />

        <div class=" mt-4">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info" style="margin-left:20px">Edit</a>

            <a asp-action="Index" class="btn btn-light">Back to List</a>
        </div>
    </div>

    <br />

</div>

